body {
  background: black;
}

.App {
  text-align: center;
}

.App-container {
  left: calc(50vw - 200px);
  width: 400px;
  top: 0;
  height: 100vh;
}

.App-container:focus {
  outline: none;
}

.App-menu {
  position: fixed;
  top: 0;
  left: calc(50vw - 20px);
  width: 40px;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
}
