.App-menubar {
  left: calc(50vw - 200px);
  width: 400px;
  top: 0;
  height: 100vh;
}

.App-menubar:focus {
  outline: none;
}

.App-filemanager {
  left: 0;
  width: 50vw;
  top: 0;
  height: 100vh;
}

.App-filemanager:focus {
  outline: none;
}

.App-top {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start;
}

.App-top > div {
  width: 33.333vw;
}

.App-top-left {
  text-align: left;
}

.App-top-center {
  text-align: center;
}

.App-top-right {
  text-align: right;
}

.App-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-end;
}

.App-bottom > div {
  width: 33.333vw;
}

.App-bottom-left {
  text-align: left;
}

.App-bottom-center {
  text-align: center;
}

.App-bottom-right {
  text-align: right;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
}

.App-recording-frame {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  border: 5px solid red;
  pointer-events: none;
  animation: pulse 1.5s infinite;
}

.App-shutter {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0;
  background: white;
  pointer-events: none;
  animation: pulse 400ms 1;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-aspect-ratio: 16/9) {
  #video > canvas {
    height: 100vh;
  }
}

@media (max-aspect-ratio: 16/9) {
  #video > canvas {
    width: 100vw;
  }
}

#video {
  text-align: center;
}
