.Menubar {
  height: 100%;
}

.Menubar > div {
  overflow-x: hidden;
}

.Menubar-content {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

.Menubar .bp3-control-group {
  align-items: center;
}

.Menubar .bp3-control-group .bp3-switch {
  margin: 0;
}
